.template-modern {
    padding: 12px;
    color: var(--color-text);
}

.modern-header {
    display: flex;
    justify-content: space-between;
}
.header-left {
    flex: 1;
}
.header-right {
    flex: 2;
}
.personal-info {
    padding-left: 10px;
    text-align: right;
}

.personal-info h3 {
    text-align: right;
}
.modern-header .avatar-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}